/* NAV */

.navigation_container {
    z-index: 10;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.89);
    top: 0;
    right: 0;
    width: 95%;
    height: 4rem;
    border-bottom-left-radius: .5rem;
}

.navigation_container-profile {
    transform: translateY(.8rem);
    margin-left: 1rem;
    font-size: 25px;
    height: 1.6rem;
    width: 1.7rem;
    list-style-type: none;

    a {
        color: black;
        text-decoration: none;
        transition: .2s ease-in-out;

        &:hover {
            color: var(--accent-color);
        }
    }
}

.navigation_container-nav {
    margin-bottom: 7rem;
    transform: translateX(-3%);

    ul {
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
    }

    a {
        transition: .5s;
        font-weight: 400;
        color: black;
        text-decoration: none;
        position: relative;

        &:hover {
            color: var(--accent-color);
        }

        &::before {
            content: '';
            z-index: -1;
            rotate: 32deg;
            position: absolute;
            width: 3.3rem;
            height: 1.5rem;
            border-radius: 1.8rem;
            background-color: var(--dark-blue);
            bottom: .7rem;
            left: -.9rem;
            transform-origin: left;
            transform: scaleX(0) translateX(50%);
            transition: transform .2s ease-in-out;
        }

        &:hover::before {
            transform: scaleX(1);
        }

        &::after {
            content: '';
            z-index: -1;
            rotate: 32deg;
            position: absolute;
            width: 3.3rem;
            height: 1.6rem;
            border-radius: 1.8rem;
            background-color: var(--dark-blue);
            bottom: .7rem;
            left: 1rem;
            transform-origin: left;
            transform: scaleX(0) translateX(50%);
            transition: transform .2s ease-out;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

}

.active a {
    color: var(--accent-color);
}