.users_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.2rem 0;
}

.username {
    display: flex;
    flex-direction: row;
}

.label {
    color: var(--accent-color);
    opacity: .85;
    font-size: 11px;
    font-weight: 400;
}

.inline {
    transform: translateY(.4rem) translateX(.3rem);
}

.smol {
    opacity: .5;
    font-size: 9px;
    margin-top: .1rem;
}